@media (max-width: 1200px) {
    .promo {
        padding: 25px 40px 70px 40px;
    }
}
@media (max-width: 992px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__wrapper {
            padding: 0 15px 0 15px;
        }
        &__item {
            max-width: 220px;
        }
    }
    .consultation {
        padding: 60px 0 65px 0;
        min-height: 580px;
        &__descr {
            text-align: center;
        }
        .title {
            &_left{
                text-align: center;
                font-size: 30px;
            }
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 38px;
        }
    }
    .carousel {
        padding: 65px 0;
        &__inner {
            width: 700px;
        }
        img {
            display: block;
            width: 700px;
            margin: 0 auto;
        }    
    }
    .catalog {
        padding-bottom: 70px;
        &__tabs {
            margin-top: 50px;
        }
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &__item {
            padding-left: 15px;
        }
    }
    .footer {
        &__map {
            height: 600px;
        }
        &__info {
            width: 440px;
            height: 250px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        padding: 25px 20px 50px 20px;
        &__wrapper {
            margin-top: 80px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            margin-top: 12px;
            font-size: 18px;
        }
        &__link {
            font-size: 14px;
        }
        .button {
            &_main {
                width: 230px;
                height: 50px;
                font-size: 14px;
            }
        } 
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
                margin-top: 5px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            margin-top: 2px;
            width: 135px;
            height: 30px;
        }
    }
    .advantages {
        padding: 50px 0 60px 0;
        &__item {
            max-width: 170px;
            img {
                width: 60px;
            }
        }
        &__header {
            margin-top: 28px;
            font-size: 14px;
        }
        &__descr {
            margin-top: 18px;
            font-size: 13px;
        }
    }
    .consultation {
        padding: 50px 0 60px 0;
        min-height: 580px;
        &__descr {
            font-size: 18px;
        }
        .title {
            &_left{
                font-size: 24px;
                line-height: 40px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 450px;
            }
        }
        .slick-dots {
            position: absolute;
            left: 225px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .catalog {
        &__content {
            margin-top: 50px;
        }
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            width: 160px;
            font-size: 15px;
            margin: 0 7px;
        }
        &-item {
            width: 270px;
            &__price {
                font-size: 17px;
            }
            hr {
                margin-top: 14px;
            }
            &__content {
                &:not(.catalog-item__content_active) {
                    transform: translateX(-110%);
                }
            }
        }
        .button {
            &_mini {
                width: 125px;
            }
        }
    }
    .reviews {
        .title {
            font-size: 28px;
        }
        &__item {
            margin-top: 45px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 14px;
        }
        img {
            width: 140px;
            height: 140px;
        }
    }
    .footer {
        &__info {
            width: 360px;
            height: 200px;
            padding: 30px 48px 30px 48px;
        }
        &__addr {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 30px;
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 30px;
        }
        &__social-item {
            width: 50px;
            height: 50px;
        }
    }
    .modal {
        width: 350px;
        min-height: 370px;
        padding: 38px 25px 40px 25px;
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        &__official {
            font-size: 12px;
            margin-top: 18px;
        }
        &__contacts {
            align-items: center;
            margin-top: 15px;
        }
        .button {
            margin-top: 10px;
            height: 35px;
        }
    }
    .promo {
        padding: 20px 10px 30px 10px;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 14px;
        }
        &__icons {
            width: 300px;
            margin-top: 50px;
        }
        &__icon {
            width: 100px;
            font-size: 12px;
            img {
                margin-bottom: 15px;
            }
        }
        .button {
            &_main {
                margin-top: 60px;
                width: 190px;
                font-size: 13px;
            }
        }
        &__link {
            font-size: 12px;
        }
    }
    .advantages {
        padding: 40px 0 30px 0;
        .title {
            font-size: 23px;
        }
        &__wrapper {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 10px;
            max-width: 230px;
        }
        &__header {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 8px;
        }
    }
    .consultation {
        padding: 40px 0 50px 0;
        min-height: 500px;
        &__descr {
            font-size: 14px;
        }
        .title {
            &_left{
                font-size: 20px;
                line-height: 30px;
            }
        }
        .feed-form {
            width: 280px;
        }
        .button {
            &_submit {
                font-size: 14px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 300px;
            img {
                width: 300px;
            }
        } 
    }
    .catalog {
        &__tab {
            width: 94px;
            font-size: 10px;
            margin: 0 4px;
            height: 40px;
            line-height: 38px;
        }
        .title {
            font-size: 22px;
        }
        &-item {
            &__img{
                height: 180px;
            }
            &__list {
                li {
                    margin-bottom: 8px;
                }
            }
        }
    }
    .reviews {
        .title {
            font-size: 22px;
        }
        &__item {
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 0;
        }
        &__text {
            margin: 10px 0 0 30px;
            padding-right: 30px;
            text-align: center;
        }
        img {
            width: 140px;
            height: 140px;
        }
    }
    .footer {
        &__info {
            width: 319px;
            padding: 25px 40px 25px 40px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
        img {
            height: 20px;
        }
    }
    .modal {
        width: 280px;
        padding: 30px 14px 32px 14px;
        &__close {
            right: 10px;
            top: 10px;
            font-size: 32px;
        }
    }
    .feed-form {
        width: 250px;
        input {
            height: 50px;
        }
    }
    .button_submit {
        height: 50px;
        font-size: 14px;
    }
}